<header>
  <h1>マルバツゲームをしましょう</h1>
  <h2>ルール</h2>
  <p>あなたと人工知能が交互に○か×の手をゲーム盤上に打っていきます</p>
  <p>縦、横、斜めのいずれかの3つの連続するマス目に自分の手を置いた方が勝ちです</p>
</header>
<article>
  <!--<table>
    <tr *ngFor="let cell of row1; let idx = index;">
      <td id="{{idx}}" (click)="clicked(idx)">{{cell}}}</td>
    </tr>
    <tr *ngFor="let cell of row2; let idx = index;">
      <td id="{{3 + idx}}" (click)="clicked(3 + idx)">{{cell}}}</td>
    </tr>

    <tr *ngFor=" let cell of row3; let idx = index;">
      <td id="{{6 + idx}} " (click)="clicked(6 + idx)">{{cell}}}</td>
    </tr>
  </table>-->
  <table>
    <tr *ngFor="let row of gameBoard; let idx = index;">
      <td id="{{idx}}" (click)="clicked(idx)"> {{row.row1}}</td>
      <td id="{{3 + idx}}" (click)="clicked(3 + idx)"> {{row.row2}}</td>
      <td id="{{6 + idx}}" (click)="clicked(6 + idx)"> {{row.row3}}</td>
    </tr>
  </table>

</article>